[Desktop Entry]
Encoding=UTF-8
Name=Link para graficos
Type=Link
URL=https://github.com/alura-cursos/alura-start-storytelling-1/tree/unidade_10/graficos
Icon=text-html
