[Desktop Entry]
Encoding=UTF-8
Name=Link para style.css
Type=Link
URL=https://github.com/alura-cursos/alura-start-storytelling-1/blob/unidade_10/style.css
Icon=text-html
